<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
            </dataSource>
        </environment>
    </environments>
    <mappers>

        <!-- Load sql mapper files -->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource= "mapper/UserDownloadMapper.xml"/>
        <mapper resource="mapper/DigitalScrollMapper.xml"/>
    </mappers>

</configuration>


